{
  "version": "6.5.13",
  "classes": {
    "LauncherUI": "com.tencent.mm.ui.LauncherUI",
    "HomeUI": "com.tencent.mm.ui.HomeUI",
    "MenuAdapterManager": "com.tencent.mm.ui.u",
    "MMFragmentActivity": "com.tencent.mm.ui.MMFragmentActivity",
    "TouchImageView": "com.tencent.mm.plugin.sns.ui.TouchImageView",
    "ChattingUIActivity": "com.tencent.mm.ui.chatting.En_5b8fbb1e",
    "ChattingUIFragment": "com.tencent.mm.ui.chatting.En_5b8fbb1e$a",
    "MenuItemViewHolderWrapper": "com.tencent.mm.ui.u$c",
    "MenuItemViewHolder": "com.tencent.mm.ui.u$d",
    "FTSMainUI": "com.tencent.mm.plugin.search.ui.FTSMainUI",
    "HomeUiViewPagerChangeListener": "com.tencent.mm.ui.HomeUI$c",
    "WxViewPager": "com.tencent.mm.ui.mogic.WxViewPager",
    "LauncherUIBottomTabView": "com.tencent.mm.ui.LauncherUIBottomTabView",
    "ActionBarContainer": "android.support.v7.widget.ActionBarContainer",
    "ToolbarWidgetWrapper": "android.support.v7.widget.aq",
    "ActionBarSearchView": "com.tencent.mm.ui.tools.ActionBarSearchView",
    "ActionBarEditText": "com.tencent.mm.ui.tools.ActionBarSearchView$ActionBarEditText",
    "ConversationFragment": "com.tencent.mm.ui.conversation.j",
    "ConversationAdapter": "com.tencent.mm.ui.conversation.g",
    "ContactFragment": "com.tencent.mm.ui.contact.AddressUI$a",
    "ContactAdapter": "com.tencent.mm.ui.contact.a",
    "DiscoverFragment": "com.tencent.mm.ui.g",
    "MMPreferenceAdapter": "com.tencent.mm.ui.base.preference.h",
    "SettingsFragment": "com.tencent.mm.ui.s",
    "AvatarUtils": "com.tencent.mm.x.b",
    "AvatarUtils2": "com.tencent.mm.app.b",
    "ChatViewHolder": "com.tencent.mm.ui.chatting.em",
    "PreferenceFragment":"com.tencent.mm.ui.base.preference.i"
  },
  "fields": {
    "ActionBarContainer_mBackground": "Qd",
    "LauncherUI_mHomeUi": "uRM",
    "HomeUI_mMenuAdapterManager": "uQe",
    "HomeUI_mMoreMenuItem": "uQs",
    "MenuAdapterManager_mMenuArray": "uVO",
    "MenuAdapterManager_mMenuMapping": "uVS",
    "LauncherUIBottomTabView_mTabClickListener": "uRT",
    "ConversationFragment_mListView": "wbi",
    "ContactFragment_mListView": "mZO",
    "PreferenceFragment_mListView": "mUX",
    "ChatViewHolder_mChatTextView": "vOB"
  },
  "methods": {
    "HomeUiViewPagerChangeListener_onPageScrolled": "a",
    "HomeUiViewPagerChangeListener_onPageSelected": "V",
    "WxViewPager_setCurrentItem": "Y",
    "TouchImageView_init": "init",
    "ActionBarSearchView_init": "init",
    "LauncherUI_startMainUI": "bPK",
    "HomeUI_startSearch": "bPr",
    "AvatarUtils_getAvatarBitmap": "a",
    "AvatarUtils2_getAvatarBitmap": "bg",
    "LauncherUIBottomTabView_setMainTabUnread": "yV",
    "LauncherUIBottomTabView_setContactTabUnread": "yW",
    "LauncherUIBottomTabView_setFriendTabUnread": "yX",
    "LauncherUIBottomTabView_showFriendTabUnreadPoint": "ke",
    "MainTabClickListener_onDoubleClick": "lK",
    "MainFragment_onTabCreate": "bOl",
    "MMPreferenceAdapter_setVisible": "aV",
    "ChatViewHolder_loadView": "p"
  },
  "views": {
    "LauncherUI_MainViewPager": "auk",
    "ActionBarContainer": "gd",
    "ActionBar_Divider": "gt",
    "ActionBar_BackImageView": "gy",
    "SearchActionBar_Divider": "h7",
    "SearchActionBar_BackImageView": "h6"
  }
}