{
  "version": "6.5.16",
  "classes": {
    "LauncherUI": "com.tencent.mm.ui.LauncherUI",
    "HomeUI": "com.tencent.mm.ui.HomeUI",
    "HomeUiViewPagerChangeListener": "com.tencent.mm.ui.C5375w$C8510a",
    "MenuAdapterManager": "com.tencent.mm.ui.aa",
    "MenuItemViewHolderWrapper": "com.tencent.mm.ui.aa$C3829c",
    "MenuItemViewHolder": "com.tencent.mm.ui.aa$C3830d",
    "MMFragmentActivity": "com.tencent.mm.ui.MMFragmentActivity",
    "TouchImageView": "com.tencent.mm.plugin.sns.ui.TouchImageView",
    "ChattingUIActivity": "com.tencent.mm.ui.chatting.En_5b8fbb1e",
    "ChattingUIFragment": "com.tencent.mm.ui.chatting.En_5b8fbb1e$C8617a",
    "FTSMainUI": "com.tencent.mm.plugin.search.ui.FTSMainUI",
    "WxViewPager": "com.tencent.mm.ui.mogic.WxViewPager",
    "LauncherUIBottomTabView": "com.tencent.mm.ui.LauncherUIBottomTabView",
    "ActionBarContainer": "android.support.v7.widget.ActionBarContainer",
    "ToolbarWidgetWrapper": "android.support.v7.widget.aq",
    "ActionBarSearchView": "com.tencent.mm.ui.tools.ActionBarSearchView",
    "ActionBarEditText": "com.tencent.mm.ui.tools.ActionBarSearchView$ActionBarEditText",
    "ConversationFragment": "com.tencent.mm.ui.conversation.C8651j",
    "ConversationAdapter": "com.tencent.mm.ui.conversation.C7857g",
    "ContactFragment": "com.tencent.mm.ui.contact.AddressUI$C8648a",
    "ContactAdapter": "com.tencent.mm.ui.contact.C7811a",
    "DiscoverFragment": "com.tencent.mm.ui.C8662h",
    "MMPreferenceAdapter": "com.tencent.mm.ui.base.preference.C7531h",
    "SettingsFragment": "com.tencent.mm.ui.C8663y",
    "AvatarUtils": "com.tencent.mm.ab.C0666b",
    "AvatarUtils2": "com.tencent.mm.app.C6139b",
    "ChatViewHolder": "com.tencent.mm.ui.chatting.ek"
  },
  "fields": {
    "ActionBarContainer_mBackground": "JZ",
    "LauncherUI_mHomeUi": "vnc",
    "HomeUI_mMenuAdapterManager": "vmk",
    "HomeUI_mMoreMenuItem": "vmy",
    "MenuAdapterManager_mMenuArray": "vrN",
    "MenuAdapterManager_mMenuMapping": "vrR",
    "LauncherUIBottomTabView_mTabClickListener": "vnm",
    "ConversationFragment_mListView": "wyT",
    "ContactFragment_mListView": "nji",
    "PreferenceFragment_mListView": "nep",
    "ChatViewHolder_mChatTextView": "wkx"
  },
  "methods": {
    "HomeUiViewPagerChangeListener_onPageScrolled": "mo242a",
    "HomeUiViewPagerChangeListener_onPageSelected": "mo240V",
    "WxViewPager_setCurrentItem": "m4773Y",
    "TouchImageView_init": "init",
    "ActionBarSearchView_init": "init",
    "LauncherUI_startMainUI": "onResume",
    "HomeUI_startSearch": "bUb",
    "AvatarUtils_getAvatarBitmap": "m1664a",
    "AvatarUtils2_getAvatarBitmap": "bt",
    "LauncherUIBottomTabView_setMainTabUnread": "Af",
    "LauncherUIBottomTabView_setContactTabUnread": "Ag",
    "LauncherUIBottomTabView_setFriendTabUnread": "Ah",
    "LauncherUIBottomTabView_showFriendTabUnreadPoint": "kF",
    "MainTabClickListener_onDoubleClick": "mH",
    "MainFragment_onTabCreate": "bSP",
    "MMPreferenceAdapter_setVisible": "aZ",
    "ChatViewHolder_loadView": "m10154p"
  },
  "views": {
    "LauncherUI_MainViewPager": "awg",
    "ActionBarContainer": "gg",
    "ActionBar_Divider": "gw",
    "ActionBar_BackImageView": "h1",
    "SearchActionBar_Divider": "h_",
    "SearchActionBar_BackImageView": "h9"
  }
}