{
  "version": "6.5.16",
  "classes": {
    "LauncherUI": "com.tencent.mm.ui.LauncherUI",
    "HomeUI": "com.tencent.mm.ui.HomeUI",
    "HomeUiTabHelper": "com.tencent.mm.ui.w",
    "HomeUiViewPagerChangeListener": "com.tencent.mm.ui.w$a",
    "MenuAdapterManager": "com.tencent.mm.ui.aa",
    "MenuItemViewHolderWrapper": "com.tencent.mm.ui.aa$c",
    "MenuItemViewHolder": "com.tencent.mm.ui.aa$d",
    "MMFragmentActivity": "com.tencent.mm.ui.MMFragmentActivity",
    "TouchImageView": "com.tencent.mm.plugin.sns.ui.TouchImageView",
    "ChattingUIActivity": "com.tencent.mm.ui.chatting.En_5b8fbb1e",
    "ChattingUIFragment": "com.tencent.mm.ui.chatting.En_5b8fbb1e$a",
    "FTSMainUI": "com.tencent.mm.plugin.search.ui.FTSMainUI",
    "WxViewPager": "com.tencent.mm.ui.mogic.WxViewPager",
    "LauncherUIBottomTabView": "com.tencent.mm.ui.LauncherUIBottomTabView",
    "ActionBarContainer": "android.support.v7.widget.ActionBarContainer",
    "ToolbarWidgetWrapper": "android.support.v7.widget.aq",
    "ActionBarSearchView": "com.tencent.mm.ui.tools.ActionBarSearchView",
    "ActionBarEditText": "com.tencent.mm.ui.tools.ActionBarSearchView$ActionBarEditText",
    "ConversationFragment": "com.tencent.mm.ui.conversation.j",
    "ConversationAdapter": "com.tencent.mm.ui.conversation.g",
    "ContactFragment": "com.tencent.mm.ui.contact.AddressUI$a",
    "ContactAdapter": "com.tencent.mm.ui.contact.a",
    "DiscoverFragment": "com.tencent.mm.ui.h",
    "MMPreferenceAdapter": "com.tencent.mm.ui.base.preference.h",
    "SettingsFragment": "com.tencent.mm.ui.y",
    "AvatarUtils2": "com.tencent.mm.app.b",
    "ChatViewHolder": "com.tencent.mm.ui.chatting.ek",
    "ChatAudioViewHolder": "com.tencent.mm.ui.chatting.cg$c",
    "XLogSetup": "com.tencent.mm.xlog.app.XLogSetup",
    "PluginHelper": "com.tencent.mm.bi.d",
    "SnsTimeLineUI": "com.tencent.mm.plugin.sns.ui.En_424b8e16",
    "WalletOfflineCoinPurseUI": "com.tencent.mm.plugin.offline.ui.WalletOfflineCoinPurseUI",
    "BaseScanUI": "com.tencent.mm.plugin.scanner.ui.BaseScanUI",
    "AddMoreFriendsUI": "com.tencent.mm.plugin.subapp.ui.pluginapp.AddMoreFriendsUI",
    "AppBrandLauncherUI": "com.tencent.mm.plugin.appbrand.ui.AppBrandLauncherUI",
    "MallIndexUI": "com.tencent.mm.plugin.mall.ui.MallIndexUI",
    "FavoriteIndexUI": "com.tencent.mm.plugin.favorite.ui.FavoriteIndexUI",
    "SelectContactUI": "com.tencent.mm.ui.contact.SelectContactUI"
  },
  "fields": {
    "ActionBarContainer_mBackground": "JZ",
    "LauncherUI_mHomeUi": "vnc",
    "HomeUI_mActionBar": "FR",
    "HomeUi_mHomeUiTabHelper": "vms",
    "HomeUiTabHelper_mViewPager": "vqN",
    "HomeUI_mMenuAdapterManager": "vmk",
    "HomeUI_mMoreMenuItem": "vmy",
    "MenuAdapterManager_mMenuArray": "vrN",
    "MenuAdapterManager_mMenuMapping": "vrR",
    "LauncherUIBottomTabView_mTabClickListener": "vnm",
    "ConversationFragment_mListView": "wyT",
    "ContactFragment_mListView": "nji",
    "PreferenceFragment_mListView": "nep",
    "ChatViewHolder_mChatTextView": "wkx",
    "ChatAudioViewHolder_mChatTextView": "wbI",
    "TopInfo_isTop": "vSv"
  },
  "methods": {
    "HomeUiViewPagerChangeListener_onPageScrolled": "a",
    "HomeUiViewPagerChangeListener_onPageSelected": "V",
    "WxViewPager_setCurrentItem": "Y",
    "TouchImageView_init": "init",
    "ActionBarSearchView_init": "init",
    "LauncherUI_startMainUI": "onResume",
    "AvatarUtils2_getAvatarHDBitmap": "bs",
    "AvatarUtils2_getAvatarBitmap": "bt",
    "AvatarUtils2_getDefaultAvatarBitmap": "oX",
    "LauncherUIBottomTabView_setMainTabUnread": "Af",
    "LauncherUIBottomTabView_setContactTabUnread": "Ag",
    "LauncherUIBottomTabView_setFriendTabUnread": "Ah",
    "LauncherUIBottomTabView_showFriendTabUnreadPoint": "kF",
    "MainTabClickListener_onDoubleClick": "mH",
    "MainFragment_onTabCreate": "bSP",
    "MMPreferenceAdapter_setVisible": "aZ",
    "ChatViewHolder_loadView": "p",
    "ChatAudioViewHolder_loadView": "r",
    "XLogSetup_keep_setupXLog": "keep_setupXLog",
    "PluginHelper_start": "y",
    "ConversationAdapter_getUserInfo": "Aa",
    "ConversationAdapter_getTopInfo": "j"
  },
  "views": {
    "LauncherUI_MainViewPager": "awg",
    "ActionBarContainer": "gg",
    "ActionBar_Divider": "gw",
    "ActionBar_BackImageView": "h1",
    "SearchActionBar_Divider": "h_",
    "SearchActionBar_BackImageView": "h9"
  }
}