{
  "info": "自定义悬浮按钮",
  "menu": {
    "icon": "ic_person_add.png"
  },
  "items": [
    {
      "order": 99,
      "type": "search",
      "text": "search",
      "icon": "ic_scan.png"
    },
    {
      "order": 98,
      "type": "timeline",
      "text": "timeline",
      "icon": "ic_chat.png"
    }
  ]
}