{
  "info": "自定义悬浮按钮",
  "menu": {
    "icon": "ic_add.png"
  },
  "items": [
    {
      "order": 1,
      "type": "walletcoin",
      "text": "收付款",
      "icon": "ic_money.png"
    },
    {
      "order": 2,
      "type": "scan",
      "text": " 扫一扫",
      "icon": "ic_scan.png"
    },
    {
      "order": 3,
      "type": "chatgroup",
      "text": "群聊",
      "icon": "ic_chat.png"
    },
    {
      "order": 4,
      "type": "addfriend",
      "text": "添加好友",
      "icon": "ic_person_add.png"
    }
  ]
}