{
  "info": "自定义悬浮按钮",
  "menu": {
    "icon": "ic_person_add.png"
  },
  "items": [
    {
      "order": 0,
      "type": "scan",
      "text": "0",
      "icon": "ic_scan.png"
    },
    {
      "order": 4,
      "type": "chat_group",
      "text": "4",
      "icon": "ic_chat.png"
    },
    {
      "order": 3,
      "type": "chat_group",
      "text": "3",
      "icon": "ic_money.png"
    },
    {
      "order": 2,
      "type": "chat_group",
      "text": "2",
      "icon": "ic_mone11y.png"
    }
  ]
}