{
  "version": "6.5.23",
  "classes": {
    "LauncherUI": "com.tencent.mm.ui.LauncherUI",
    "HomeUI": "com.tencent.mm.ui.HomeUI",
    "HomeUiTabHelper": "com.tencent.mm.ui.w",
    "HomeUiViewPagerChangeListener": "com.tencent.mm.ui.w$a",
    "MMFragmentActivity": "com.tencent.mm.ui.MMFragmentActivity",
    "TouchImageView": "com.tencent.mm.plugin.sns.ui.TouchImageView",
    "FTSMainUI": "com.tencent.mm.plugin.search.ui.FTSMainUI",
    "WxViewPager": "com.tencent.mm.ui.mogic.WxViewPager",
    "LauncherUIBottomTabView": "com.tencent.mm.ui.LauncherUIBottomTabView",
    "ActionBarContainer": "android.support.v7.widget.ActionBarContainer",
    "ToolbarWidgetWrapper": "android.support.v7.widget.aq",
    "ActionBarSearchView": "com.tencent.mm.ui.tools.ActionBarSearchView",
    "ActionBarEditText": "com.tencent.mm.ui.tools.ActionBarSearchView$ActionBarEditText",
    "ConversationFragment": "com.tencent.mm.ui.conversation.j",
    "ConversationAdapter": "com.tencent.mm.ui.conversation.g",
    "TopInfo": "com.tencent.mm.ui.conversation.g$d",
    "ContactFragment": "com.tencent.mm.ui.contact.AddressUI$a",
    "ContactAdapter": "com.tencent.mm.ui.contact.a",
    "MMPreferenceAdapter": "com.tencent.mm.ui.base.preference.h",
    "PreferenceFragment": "com.tencent.mm.ui.base.preference.i",
    "DiscoverFragment": "com.tencent.mm.ui.h",
    "SettingsFragment": "com.tencent.mm.ui.y",
    "MainFragment": "com.tencent.mm.ui.a",
    "ChatViewHolder": "com.tencent.mm.ui.chatting.em",
    "CellTextView": "com.tencent.mm.ui.widget.celltextview.CellTextView",
    "ChatAudioViewHolder": "com.tencent.mm.ui.chatting.ch$c",
    "AvatarUtils2": "com.tencent.mm.app.b",
    "XLogSetup": "com.tencent.mm.xlog.app.XLogSetup",
    "PluginHelper": "com.tencent.mm.bj.d",
    "SnsTimeLineUI": "com.tencent.mm.plugin.sns.ui.En_424b8e16",
    "WalletOfflineCoinPurseUI": "com.tencent.mm.plugin.offline.ui.WalletOfflineCoinPurseUI",
    "BaseScanUI": "com.tencent.mm.plugin.scanner.ui.BaseScanUI",
    "AddMoreFriendsUI": "com.tencent.mm.plugin.subapp.ui.pluginapp.AddMoreFriendsUI",
    "AppBrandLauncherUI": "com.tencent.mm.plugin.appbrand.ui.AppBrandLauncherUI",
    "MallIndexUI": "com.tencent.mm.plugin.mall.ui.MallIndexUI",
    "FavoriteIndexUI": "com.tencent.mm.plugin.favorite.ui.FavoriteIndexUI",
    "SelectContactUI": "com.tencent.mm.ui.contact.SelectContactUI"
  },
  "fields": {
    "LauncherUI_mHomeUi": "wcO",
    "HomeUI_mActionBar": "FM",
    "HomeUI_mMoreMenuItem": "wck",
    "HomeUi_mHomeUiTabHelper": "wce",
    "HomeUiTabHelper_mViewPager": "wgz",
    "ActionBarContainer_mBackground": "JU",
    "ConversationFragment_mListView": "xpy",
    "TopInfo_isTop": "wIw",
    "ContactFragment_mListView": "mJS",
    "PreferenceFragment_mListView": "mEY",
    "ChatViewHolder_mChatTextView": "xaO",
    "CellTextView_mMsgView": "xNh",
    "ChatAudioViewHolder_mChatTextView": "wRL",
    "ChatAudioViewHolder_mAudioAnimImageView": "wRN",
    "ChatAudioViewHolder_mAudioSendingImageView": "wRZ"
  },
  "methods": {
    "LauncherUI_startMainUI": "onResume",
    "HomeUiViewPagerChangeListener_onPageScrolled": "a",
    "HomeUiViewPagerChangeListener_onPageSelected": "V",
    "TouchImageView_init": "init",
    "WxViewPager_setCurrentItem": "Y",
    "LauncherUIBottomTabView_setMainTabUnread": "Bk",
    "LauncherUIBottomTabView_setContactTabUnread": "Bl",
    "LauncherUIBottomTabView_setFriendTabUnread": "Bm",
    "LauncherUIBottomTabView_showFriendTabUnreadPoint": "lj",
    "ActionBarSearchView_init": "init",
    "ConversationAdapter_getUserInfo": "Bf",
    "ConversationAdapter_getTopInfo": "j",
    "MMPreferenceAdapter_setVisible": "bf",
    "MainFragment_onTabCreate": "bZn",
    "ChatViewHolder_loadView": "r",
    "ChatAudioViewHolder_loadView": "t",
    "AvatarUtils2_getAvatarHDBitmap": "bE",
    "AvatarUtils2_getDefaultAvatarBitmap": "oZ",
    "AvatarUtils2_getAvatarBitmap": "bF",
    "XLogSetup_keep_setupXLog": "keep_setupXLog",
    "PluginHelper_start": "x"
  }
}