{
  "version": "6.6.2",
  "classes": {
    "LauncherUI": "com.tencent.mm.ui.LauncherUI",
    "HomeUI": "com.tencent.mm.ui.HomeUI",
    "HomeUiTabHelper": "com.tencent.mm.ui.w",
    "HomeUiViewPagerChangeListener": "com.tencent.mm.ui.w$a",
    "MMFragmentActivity": "com.tencent.mm.ui.MMFragmentActivity",
    "TouchImageView": "com.tencent.mm.plugin.sns.ui.TouchImageView",
    "FTSMainUI": "com.tencent.mm.plugin.search.ui.FTSMainUI",
    "WxViewPager": "com.tencent.mm.ui.mogic.WxViewPager",
    "LauncherUIBottomTabView": "com.tencent.mm.ui.LauncherUIBottomTabView",
    "ActionBarContainer": "android.support.v7.widget.ActionBarContainer",
    "ToolbarWidgetWrapper": "android.support.v7.widget.aq",
    "ActionBarSearchView": "com.tencent.mm.ui.tools.ActionBarSearchView",
    "ActionBarEditText": "com.tencent.mm.ui.tools.ActionBarSearchView$ActionBarEditText",
    "ConversationFragment": "com.tencent.mm.ui.conversation.j",
    "ConversationAdapter": "com.tencent.mm.ui.conversation.g",
    "TopInfo": "com.tencent.mm.ui.conversation.g$d",
    "ContactFragment": "com.tencent.mm.ui.contact.AddressUI$a",
    "ContactAdapter": "com.tencent.mm.ui.contact.a",
    "MMPreferenceAdapter": "com.tencent.mm.ui.base.preference.h",
    "PreferenceFragment": "com.tencent.mm.ui.base.preference.i",
    "DiscoverFragment": "com.tencent.mm.ui.h",
    "SettingsFragment": "com.tencent.mm.ui.y",
    "MainFragment": "com.tencent.mm.ui.a",
    "ChatViewHolder": "com.tencent.mm.ui.chatting.viewitems.af$e",
    "CellTextView": "com.tencent.mm.ui.widget.celltextview.CellTextView",
    "ChatAudioViewHolder": "com.tencent.mm.ui.chatting.viewitems.ah$d",
    "AvatarUtils2": "com.tencent.mm.app.b",
    "XLogSetup": "com.tencent.mm.xlog.app.XLogSetup",
    "PluginHelper": "com.tencent.mm.bm.d",
    "SnsTimeLineUI": "com.tencent.mm.plugin.sns.ui.SnsTimeLineUI",
    "WalletOfflineCoinPurseUI": "com.tencent.mm.plugin.offline.ui.WalletOfflineCoinPurseUI",
    "BaseScanUI": "com.tencent.mm.plugin.scanner.ui.BaseScanUI",
    "AddMoreFriendsUI": "com.tencent.mm.plugin.subapp.ui.pluginapp.AddMoreFriendsUI",
    "AppBrandLauncherUI": "com.tencent.mm.plugin.appbrand.ui.AppBrandLauncherUI",
    "MallIndexUI": "com.tencent.mm.plugin.mall.ui.MallIndexUI",
    "FavoriteIndexUI": "com.tencent.mm.plugin.favorite.ui.FavoriteIndexUI",
    "SelectContactUI": "com.tencent.mm.ui.contact.SelectContactUI"
  },
  "fields": {
    "LauncherUI_mHomeUi": "xGS",
    "HomeUI_mActionBar": "mActionBar",
    "HomeUI_mMoreMenuItem": "xGo",
    "HomeUi_mHomeUiTabHelper": "xGh",
    "HomeUiTabHelper_mViewPager": "xKB",
    "ActionBarContainer_mBackground": "KT",
    "ConversationFragment_mListView": "yZE",
    "ConversationFragment_mAppBrandEnable": "yXK",
    "TopInfo_isTop": "ynt",
    "ContactFragment_mListView": "nPx",
    "PreferenceFragment_mListView": "nKG",
    "ChatViewHolder_mChatTextView": "yNq",
    "ChatViewHolder_mTextColor": "yfE",
    "CellTextView_mMsgView": "zLq",
    "ChatAudioViewHolder_mChatTextView": "yNE",
    "ChatAudioViewHolder_mAudioAnimImageView": "yNO",
    "ChatAudioViewHolder_mAudioSendingImageView": "yNF"
  },
  "methods": {
    "LauncherUI_startMainUI": "onResume",
    "HomeUiViewPagerChangeListener_onPageScrolled": "a",
    "HomeUiViewPagerChangeListener_onPageSelected": "ae",
    "HomeUiViewPagerChangeListener_getCount": "getCount",
    "HomeUiViewPagerChangeListener_getFragment": "R",
    "HomeUiViewPagerChangeListener_visibleFragment": "eM",
    "TouchImageView_init": "init",
    "WxViewPager_setCurrentItem": "ah",
    "LauncherUIBottomTabView_setMainTabUnread": "DH",
    "LauncherUIBottomTabView_setContactTabUnread": "DI",
    "LauncherUIBottomTabView_setFriendTabUnread": "DJ",
    "LauncherUIBottomTabView_showFriendTabUnreadPoint": "lM",
    "ActionBarSearchView_init": "init",
    "ConversationAdapter_getUserInfo": "DC",
    "ConversationAdapter_getTopInfo": "i",
    "MMPreferenceAdapter_setVisible": "bk",
    "MainFragment_onTabCreate": "clt",
    "ChatViewHolder_loadView": "q",
    "ChatAudioViewHolder_loadView": "t",
    "AvatarUtils2_getAvatarHDBitmap": "cm",
    "AvatarUtils2_getDefaultAvatarBitmap": "tJ",
    "AvatarUtils2_getAvatarBitmap": "cn",
    "XLogSetup_keep_setupXLog": "keep_setupXLog",
    "PluginHelper_start": "y"
  }
}