{
  "version": "6.6.0",
  "classes": {
    "LauncherUI": "com.tencent.mm.ui.LauncherUI",
    "HomeUI": "com.tencent.mm.ui.HomeUI",
    "HomeUiTabHelper": "com.tencent.mm.ui.x",
    "HomeUiViewPagerChangeListener": "com.tencent.mm.ui.x$a",
    "MMFragmentActivity": "com.tencent.mm.ui.MMFragmentActivity",
    "TouchImageView": "com.tencent.mm.plugin.sns.ui.TouchImageView",
    "FTSMainUI": "com.tencent.mm.plugin.search.ui.FTSMainUI",
    "WxViewPager": "com.tencent.mm.ui.mogic.WxViewPager",
    "LauncherUIBottomTabView": "com.tencent.mm.ui.LauncherUIBottomTabView",
    "ActionBarContainer": "android.support.v7.widget.ActionBarContainer",
    "ToolbarWidgetWrapper": "android.support.v7.widget.aq",
    "ActionBarSearchView": "com.tencent.mm.ui.tools.ActionBarSearchView",
    "ActionBarEditText": "com.tencent.mm.ui.tools.ActionBarSearchView$ActionBarEditText",
    "ConversationFragment": "com.tencent.mm.ui.conversation.j",
    "ConversationAdapter": "com.tencent.mm.ui.conversation.g",
    "TopInfo": "com.tencent.mm.ui.conversation.g$d",
    "ContactFragment": "com.tencent.mm.ui.contact.AddressUI$a",
    "ContactAdapter": "com.tencent.mm.ui.contact.a",
    "MMPreferenceAdapter": "com.tencent.mm.ui.base.preference.h",
    "PreferenceFragment": "com.tencent.mm.ui.base.preference.i",
    "DiscoverFragment": "com.tencent.mm.ui.i",
    "SettingsFragment": "com.tencent.mm.ui.z",
    "MainFragment": "com.tencent.mm.ui.a",
    "ChatViewHolder": "com.tencent.mm.ui.chatting.er",
    "CellTextView": "com.tencent.mm.ui.widget.celltextview.CellTextView",
    "ChatAudioViewHolder": "com.tencent.mm.ui.chatting.cl$c",
    "AvatarUtils2": "com.tencent.mm.app.b",
    "XLogSetup": "com.tencent.mm.xlog.app.XLogSetup",
    "PluginHelper": "com.tencent.mm.bk.d",
    "SnsTimeLineUI": "com.tencent.mm.plugin.sns.ui.SnsTimeLineUI",
    "WalletOfflineCoinPurseUI": "com.tencent.mm.plugin.offline.ui.WalletOfflineCoinPurseUI",
    "BaseScanUI": "com.tencent.mm.plugin.scanner.ui.BaseScanUI",
    "AddMoreFriendsUI": "com.tencent.mm.plugin.subapp.ui.pluginapp.AddMoreFriendsUI",
    "AppBrandLauncherUI": "com.tencent.mm.plugin.appbrand.ui.AppBrandLauncherUI",
    "MallIndexUI": "com.tencent.mm.plugin.mall.ui.MallIndexUI",
    "FavoriteIndexUI": "com.tencent.mm.plugin.favorite.ui.FavoriteIndexUI",
    "SelectContactUI": "com.tencent.mm.ui.contact.SelectContactUI"
  },
  "fields": {
    "LauncherUI_mHomeUi": "wEa",
    "HomeUI_mActionBar": "mActionBar",
    "HomeUI_mMoreMenuItem": "wDw",
    "HomeUi_mHomeUiTabHelper": "wDp",
    "HomeUiTabHelper_mViewPager": "wHE",
    "ActionBarContainer_mBackground": "KP",
    "ConversationFragment_mListView": "zvl",
    "TopInfo_isTop": "xjO",
    "ContactFragment_mListView": "nbF",
    "PreferenceFragment_mListView": "mWO",
    "ChatViewHolder_mChatTextView": "xCN",
    "CellTextView_mMsgView": "yro",
    "ChatAudioViewHolder_mChatTextView": "xtv",
    "ChatAudioViewHolder_mAudioAnimImageView": "xtw",
    "ChatAudioViewHolder_mAudioSendingImageView": "xtF"
  },
  "methods": {
    "LauncherUI_startMainUI": "onResume",
    "HomeUiViewPagerChangeListener_onPageScrolled": "a",
    "HomeUiViewPagerChangeListener_onPageSelected": "ae",
    "HomeUiViewPagerChangeListener_getCount": "getCount",
    "HomeUiViewPagerChangeListener_getFragment": "R",
    "HomeUiViewPagerChangeListener_visibleFragment": "et",
    "TouchImageView_init": "init",
    "WxViewPager_setCurrentItem": "ah",
    "LauncherUIBottomTabView_setMainTabUnread": "BT",
    "LauncherUIBottomTabView_setContactTabUnread": "BU",
    "LauncherUIBottomTabView_setFriendTabUnread": "BV",
    "LauncherUIBottomTabView_showFriendTabUnreadPoint": "lv",
    "ActionBarSearchView_init": "init",
    "ConversationAdapter_getUserInfo": "BO",
    "ConversationAdapter_getTopInfo": "j",
    "MMPreferenceAdapter_setVisible": "bh",
    "MainFragment_onTabCreate": "cdZ",
    "ChatViewHolder_loadView": "q",
    "ChatAudioViewHolder_loadView": "s",
    "AvatarUtils2_getAvatarHDBitmap": "bJ",
    "AvatarUtils2_getDefaultAvatarBitmap": "pw",
    "AvatarUtils2_getAvatarBitmap": "bK",
    "XLogSetup_keep_setupXLog": "keep_setupXLog",
    "PluginHelper_start": "y"
  }
}